@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --neutral-800: #170f49;
  --neutral-700: #514f6e;
  --neutral-600: #6f6c90;
  --neutral-500: #a0a3bd;
  --neutral-400: #d9dbe9;
  --neutral-300: #eff0f6;
  --neutral-200: #f7f7fb;
  --neutral-100: #fff;
  --primary-color-1: #4a3aff;
  --primary-color-2: #702dff;
  --primary-color-3: #2d5bff;
  --secondary-color-1: #d9dbe9;
  --secondary-color-2: #ecebff;
  --secondary-color-3: #531dc5;
  --secondary-color-4: #efe8ff;
  --other-logo-1: #4cbfff;
  --other-logo-2: #9328ff;

  --font-family: "DM Sans", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

/* Animation */

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* SLIDER */

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 64px;
  height: 64px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.prev {
  left: -100px;
}

.next {
  right: -100px;
}

.next.active {
  background: #4f46e5;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding: 32px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .btn-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  text-align: center;
  color: #fff;
  padding: 20px 40px;
  border-radius: 56px;
  background: var(--primary-color-1);
  transition: transform 0.3s ease-out;
}

.header .btn-header:hover {
  background: #200ee4;
  transform: scale(1.05);
}

/* HERO */

.hero {
  text-align: center;
  padding: 39px 0 100px 0;
}

.hero .subtitle__one {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: var(--primary-color-1);
  padding-bottom: 12px;
}

.hero h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.24;
  color: var(--neutral-800);
  padding-bottom: 12px;
}

.hero .subtitle__two {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--neutral-600);
  padding-bottom: 40px;
}

.form-hero {
  display: flex;
  align-items: center;

  background: #fff;
  border: 1px solid #eff0f6;
  border-radius: 60px;
  box-shadow: 0 8px 25px 0 rgba(13, 10, 44, 0.06);

  width: 599px;
  height: 77px;
  margin: 0 auto 25px auto;
  padding: 8px;
}

#hero__input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--neutral-600);
  padding-left: 25px;
}

.btn-hero {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  text-align: center;
  color: #fff;
  padding: 17px 32px 17px 32px;
  border-radius: 56px;
  border: none;
  background: var(--primary-color-1);
  cursor: pointer;
}

.btn-hero:hover {
  background-color: #4338ca;
  transform: scale(1.02);
}

.hero .subtitle__three {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero .subtitle__three p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--neutral-600);
}

.hero .subtitle__three img {
  padding-right: 10px;
}

.hero .subtitle__three span {
  color: var(--primary-color-1);
}

/* COAT */

.coat {
  margin-bottom: 44px;
}

.coat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 42px 30px 32px;
  border-radius: 18px;
  background: var(--neutral-100);
  box-shadow:
    0 12px 24px 0 rgba(20, 20, 43, 0.04),
    0 -2px 4px 0 rgba(20, 20, 43, 0.02),
    0 3px 14px 0 rgba(74, 58, 255, 0.03);
  margin-bottom: 44px;
}

.coat-header h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45833;
  color: #170f49;
}

.coat-header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: var(--primary-color-1);
  background: var(--secondary-color-2);
  padding: 17px 28px;
  border-radius: 50px;
}

.coat-header a:hover {
  background: #d3d1f7;
  color: #483add;
}

/* SECTION REVIEW */

.review {
  background: var(--neutral-200);
  padding: 140px 0 130px 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 120px;
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.slider-wrapper {
  position: relative;
  margin-top: 60px;
  width: 100%;
}

.review .next {
  background: var(--primary-color-1);
}

.review .slider-btn {
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.review .slider-btn.disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-50%) scale(0.8);
}

.reviews-grid {
  display: grid;
  grid-auto-columns: 500px;
  grid-auto-flow: column;
  align-items: stretch;
  gap: 30px;
  margin-top: 40px;

  transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
}

.review-testimonials {
  margin-bottom: 42px;
}

.review-testimonials p {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-color-1);
  padding-bottom: 11px;
}

.review-testimonials h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.35294;
  color: var(--neutral-800);
}

.reviews-card {
  background: #fff;
  padding: 53px 54px 60px 55px;
  border-radius: 20px;
  border: 1px solid #eff0f6;
  box-shadow: 0 5px 14px 0 rgba(8, 15, 52, 0.04);
  background: #fff;
}

.reviews-card .review-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27273;
  color: var(--neutral-800);
  margin-bottom: 13px;
}

.reviews-card .review-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: #6f6c90;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}

.author-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--neutral-800);
}

.author-post {
  font-size: 15px;
  color: #6f6c90;
}

/* SECTION TESTIMONIAL */

.testimonial {
  background: var(--neutral-200);
  height: 870px;
  padding: 135px 99px 139px 99px;
  text-align: center;
  margin-bottom: 232px;
}

.testimonial-two-header .testimonial-paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-color-1);
  padding-bottom: 11px;
}

.testimonial .testimonial-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.35294;
  color: var(--neutral-800);
  margin-bottom: 45px;
}

.testimonial-wrapper {
  position: relative;
  max-width: 1014px;
  margin: 60px auto 0;
}

.testimonial-viewport {
  width: 100%;
  overflow: hidden;
  border-radius: 32px;
}

.testimonial-track {
  display: flex;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
}

.main-card-testimonial {
  display: flex;
  background: #ffffff;
  border-radius: 32px;
  overflow: hidden;
  max-height: 460px;
  min-width: 100%;
  flex-shrink: 0;
}

.card-media {
  flex: 1;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.card-content .brand-logo {
  margin-bottom: 18px;
}

.card-content .quote {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--neutral-600);
  margin-bottom: 34px;
}

.play-media-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-media-btn img {
  left: 19px;
  top: 16px;
  position: absolute;
}

.author {
  display: flex;
  align-items: center;
  gap: 17px;
}

.author-info .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--neutral-800);
  margin-bottom: 4px;
}

.author-info .role {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--neutral-600);
}

/* SECTION TESTIMONIAL V3 */

.testimonial-v3 {
  background: var(--neutral-200);
  height: 1065px;
  padding: 140px 99px 139px 99px;
}

.testimonial-v3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  align-items: start;
}

.testimonial-v3-header .testimonial-paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-color-1);
  padding-bottom: 14px;
}

.testimonial-v3-header h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.35294;
  color: var(--neutral-800);
  padding-bottom: 14px;
}

.testimonial-v3-header .subtitle__v3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--neutral-700);
  padding-bottom: 34px;
}

.testimonial-v3-card {
  width: 592px;
  height: 366px;
  box-shadow: 0 5px 14px 0 rgba(8, 15, 52, 0.04);
  background: #fff;
  border: 1px solid #eff0f6;
  border-radius: 20px;
  padding: 75px 43px 67px 45px;
}

.testimonial-v3-card-right {
  margin-bottom: 55px;
}

.testimonial-v3-card .brend-logo {
  padding-bottom: 19px;
}

.testimonial-v3-card .brend-logo-right {
  padding-bottom: 23px;
}

.testimonial-v3-card .subtitle {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  color: #514f6e;
}

.testimonial-v3-card .author-info .name {
  padding-bottom: 6px;
}

.testimonial-v3-card .author-info .role {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--neutral-600);
}

/* FOOTER */

.footer {
  padding: 57px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.subscribe-form-small {
  display: flex;
  background: #fff;
  border: 1px solid #eff0f6;
  border-radius: 60px;
  padding: 6px;
  width: 460px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
}

.subscribe-form-small input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding-left: 25px;
  font-family: inherit;
}

.subscribe-form-small button {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.subscribe-form-small button:hover {
  background: #483add;
  transform: scale(1.03);
}
